<!DOCTYPE html>
<html dir="rtl">
    <head>
        <%- include('partials/head'); -%>
       </head>

    <% if(local == false){ %>
        <div class="card centered style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">הקובץ <%= name%> פתוח במקום אחר </h5>
            </div>
            <div class="card-header">
              <p class="card-text">הקובץ נמצא בעריכה אצל :</p>
            </div>
              <ul class="list-group list-group-flush">
                <% users.forEach(function(user) { %>
                    <li class="list-group-item">
                        <!-- <img src="" alt="..." class="rounded-circle"> -->
                        <strong><%= user.Name %></strong>
                    </li>
                <% }); %>
            </ul>
          <div class="card-body">
              <a class="card-link" href=<%=onlineUrl %> >הצטרף לעריכה משותפת</a>
            </div>
          </div>
      <% } else{ %>  
        <div class="card centered">
            <div class="card-body">
              <h5 class="card-title">הקובץ <%= name%> פתוח במקום אחר </h5>
              <p class="card-text">הקובץ נמצא בעריכה אצל משתמש אחר :</p>
              <a class="btn btn-primary" href=<%=onlineUrl %> >פתח את הקובץ לקריאה בלבד</a>
            </div>
          </div>
     <% } %>

</body>

<%- include('partials/script'); -%>
</html>

