<!DOCTYPE html>
<html dir="rtl">
    <head>
        <%- include('partials/head'); -%>
       </head>

<body>

<!-- <div  class="centered">
   <p> <%= name%></p>  פתוח במקום אחר

    <ul>
        <% users.forEach(function(user) { %>
            <li>
                <strong><%= user.Name %></strong>
            </li>
        <% }); %>
    </ul>
</div> -->
<div class="card centered">
    <div class="card-body">
      <h5 class="card-title">הקובץ <%= name%> פתוח במקום אחר </h5>
      <p class="card-text">הקובץ נמצא בעריכה אצל :</p>
      <ul class="list-group list-group-flush">
        <% users.forEach(function(user) { %>
            <li class="list-group-item">
                <strong><%= user.Name %></strong>
            </li>
        <% }); %>
    </ul>
      <p>בחר מאחת האפשרויות הבאות: </p>
      <a href=<%=onlineUrl %> class="btn btn-primary">Go somewhere</a>
      <a href="../files/5f8bea8575fcdf0011d13807" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</body>

<%- include('partials/script'); -%>
</html>

