<!DOCTYPE html>
<html dir="rtl">
    <head>
        <%- include('partials/head'); -%>
       </head>

<body>

    <% if(onlineUrl){ %>
        <div class="card centered">
            <div class="card-body">
              <h5 class="card-title">הקובץ <%= name%> פתוח במקום אחר </h5>
              <p class="card-text">הקובץ נמצא בעריכה אצל :</p>
              <ul class="list-group list-group-flush">
                <% users.forEach(function(user) { %>
                    <li class="list-group-item">
                        <strong><%= user.Name %></strong>
                    </li>
                <% }); %>
            </ul>
              <p>בחר מאחת האפשרויות הבאות: </p>
              <a class="btn btn-primary" href=<%=onlineUrl %> >הצטרף לעריכה משותפת</a>
              <a class="btn btn-primary" href=<%=localUrl %> >פתח את הקובץ לקריאה בלבד</a>
            </div>
            <!-- <div class="card-footer">
                <small class="text-muted">Last updated <%=lastUpdated %></small>
              </div> -->
          </div>
      <% } else{ %>  
        <div class="card centered">
            <div class="card-body">
              <h5 class="card-title">הקובץ <%= name%> פתוח במקום אחר </h5>
              <p class="card-text">הקובץ נמצא בעריכה אצל משתמש אחר :</p>
              <a class="btn btn-primary" href=<%=localUrl %> >פתח את הקובץ לקריאה בלבד</a>
            </div>
          </div>
     <% } %>

</body>

<%- include('partials/script'); -%>
</html>

